{#
/**
 * @file
 * Bootstrap Barrio's theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template normally located in the
 * core/modules/system directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 * - logo: The url of the logo image, as defined in theme settings.
 * - site_name: The name of the site. This is empty when displaying the site
 *   name has been disabled in the theme settings.
 * - site_slogan: The slogan of the site. This is empty when displaying the site
 *   slogan has been disabled in theme settings.

 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.top_header: Items for the top header region.
 * - page.top_header_form: Items for the top header form region.
 * - page.header: Items for the header region.
 * - page.header_form: Items for the header form region.
 * - page.highlighted: Items for the highlighted region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.featured_top: Items for the featured top region.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.featured_bottom_first: Items for the first featured bottom region.
 * - page.featured_bottom_second: Items for the second featured bottom region.
 * - page.featured_bottom_third: Items for the third featured bottom region.
 * - page.footer_first: Items for the first footer column.
 * - page.footer_second: Items for the second footer column.
 * - page.footer_third: Items for the third footer column.
 * - page.footer_fourth: Items for the fourth footer column.
 * - page.footer_fifth: Items for the fifth footer column.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * Theme variables:
 * - navbar_top_attributes: Items for the header region.
 * - navbar_attributes: Items for the header region.
 * - content_attributes: Items for the header region.
 * - sidebar_first_attributes: Items for the highlighted region.
 * - sidebar_second_attributes: Items for the primary menu region.
 *
 * @see template_preprocess_page()
 * @see bootstrap_barrio_preprocess_page()
 * @see html.html.twig
 */
#}
{% block head %}
  <!-- NAVBAR
================================================== -->
  <nav class="navbar navbar-main-menu navbar-light navbar-expand-lg fixed-top">
    <div class="container">

      <!-- Navbar: Brand -->
      <a class="navbar-brand d-lg-none" href="index.html">Touché</a>

      <!-- Navbar: Toggler -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Navbar: Collapse -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <!-- Navbar navigation: Left -->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="about-us.html">About Us</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="nav-item__menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Menu
            </a>
            <div class="dropdown-menu" aria-labelledby="nav-item__menu">
              <a class="dropdown-item" href="menu.html">Menu: Standard</a>
              <a class="dropdown-item" href="menu_no-images.html">Menu: No Images</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="reservation.html">Reservation</a>
          </li>
        </ul>

        <!-- Navbar: Brand -->
        <a class="navbar-brand d-none d-lg-flex" href="index.html">
          Touché
        </a>

        <!-- Navbar navigation: Right -->
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="news-and-events.html">News & Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="gallery.html">Gallery</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact-us.html">Contact</a>
          </li>
        </ul>

      </div> <!-- / .navbar-collapse -->

    </div> <!-- / .container -->
  </nav> <!-- / .navbar -->

{% endblock %}

{% block welcome %}
  <!-- WELCOME
================================================== -->
  <section class="section section_welcome" data-parallax="scroll" data-image-src="assets/img/1.jpg">

    <!-- Content -->
    <div class="section_welcome__main">
      <div class="container">
        <div class="row align-items-center">
          <div class="col">

            <!-- Heading -->
            <h2 class="section__preheading section_welcome__preheading text-center text-muted">
              <span class="text-primary">Café</span> / Restaurant
            </h2>
            <h1 class="section__heading section_welcome__heading text-center">
              Touché
            </h1>
            <p class="section__subheading section_welcome__subheading text-center text-muted">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non illo, alias animi iusto neque, sint corrupti? Laudantium, dignissimos id excepturi facilis, facere saepe quasi placeat praesentium ipsa sapiente illo molestiae?
            </p>

            <!-- Button -->
            <div class="text-center">
              <a href="#section_reservation" class="btn btn-primary text-white">
                Make reservation
              </a>
            </div>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </div>

    <!-- Footer -->
    <div class="section_welcome__footer">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md">

            <!-- Social links -->
            <ul class="section_welcome__footer__social text-center text-lg-left">
              <li>
                <a href="#">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-instagram"></i>
                </a>
              </li>
            </ul>

          </div>
          <div class="col-md">

            <!-- Address -->
            <div class="section_welcome__footer__address text-center text-lg-right">
              <i class="fa fa-map-marker"></i> 1234 Altschul, New York, NY 10027-0000
            </div>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </div>

  </section>
{% endblock %}

{% block content %}
  <div id="main" class="{{ container }}">
    {{ page.breadcrumb }}
    <div class="row row-offcanvas row-offcanvas-left clearfix">
      <main{{ content_attributes }}>
        <section class="section">
          <a id="main-content" tabindex="-1"></a>
          {{ page.content }}
        </section>
      </main>
      {% if page.sidebar_first %}
        <div{{ sidebar_first_attributes }}>
          <aside class="section" role="complementary">
            {{ page.sidebar_first }}
          </aside>
        </div>
      {% endif %}
      {% if page.sidebar_second %}
        <div{{ sidebar_second_attributes }}>
          <aside class="section" role="complementary">
            {{ page.sidebar_second }}
          </aside>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}

{% block discover %}
  <!-- DISCOVER
  ================================================== -->
  <section class="section section_discover section_no-padding_bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-2 align-self-start">

          <!-- Description -->
          <p class="section_discover__description">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </p>

        </div>
        <div class="col-md-4 align-self-start">

          <!-- Image -->
          <div class="section_discover__img">
            <img src="assets/img/2.jpg" class="img-fluid" alt="...">
          </div>

        </div>
        <div class="col-md-6 align-self-center">

          <!-- Content -->
          <h2><em>Lorem ipsum</em> dolor sit amet</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias veritatis nisi, consequatur, laborum libero a neque ducimus. Porro rem illum quo nostrum quisquam asperiores, blanditiis, consectetur. Possimus facilis velit, voluptatibus!
          </p>

        </div>
      </div> <!-- / .row -->
    </div> <!-- / .container -->
  </section>

  <!-- DISCOVER
  ================================================== -->
  <section class="section section_discover">
    <div class="container">
      <div class="row">
        <div class="col-md-2 order-md-2 align-self-end">

          <!-- Description -->
          <p class="section_discover__description">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </p>

        </div>
        <div class="col-md-4 order-md-3 align-self-start">

          <!-- Image -->
          <div class="section_discover__img alt">
            <img src="assets/img/7.jpg" class="img-fluid" alt="...">
          </div>

        </div>
        <div class="col-md-6 order-md-1 align-self-center">

          <!-- Content -->
          <h2><em>Velit ipsa</em> quidem debitis amet</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam quae similique asperiores consequatur! Nihil temporibus qui enim, ab voluptates corporis commodi eum maxime. Accusamus voluptates a, et quidem! Quo, et?
          </p>

        </div>
      </div> <!-- / .row -->
    </div> <!-- / .container -->
  </section>
{% endblock %}

{% block about %}
  <!-- ABOUT
================================================== -->
  <section class="section section_about">
    <div class="container">
      <div class="row">
        <div class="col-md-4">

          <!-- Description -->
          <p class="section_about__description">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam placeat molestiae ab, consectetur.
          </p>

        </div>
      </div> <!-- / .row -->
    </div> <!-- / .container -->
  </section>
{% endblock %}

{% block restomenu %}
  <!-- MENU
================================================== -->
  <section class="section section_menu section_border_bottom">
    <div class="container">
      <div class="row">
        <div class="col">

          <!-- Heading -->
          <h2 class="section__heading text-center">
            Our menu
          </h2>
          <p class="section__subheading text-center">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Ratione numquam eos perferendis itaque hic unde, ad, laudantium minima.
          </p>

        </div>
      </div> <!-- / .row -->
      <div class="row">
        <div class="col">

          <!-- Navigation -->
          <nav class="section_menu__nav">
            <ul>
              <li class="active">
                <a href="#menu_images" data-filter=".mains">Mains</a>
              </li>
              <li>
                <a href="#menu_images" data-filter=".lunch">Lunch</a>
              </li>
              <li>
                <a href="#menu_images" data-filter=".dinner">Dinner</a>
              </li>
              <li>
                <a href="#menu_images" data-filter=".drinks">Drinks</a>
              </li>
            </ul>
          </nav>

        </div>
      </div>
      <div class="row section_menu__grid" id="menu_images">

        <div class="col-md-6 section_menu__grid__item mains">
          <div class="section_menu__item">
            <div class="row">
              <div class="col-3 align-self-center">
                <div class="section_menu__item__img">
                  <img src="assets/img/26.jpg" alt="...">
                </div>
              </div>
              <div class="col-7">
                <h4>Lorem ipsum dolor sit amet</h4>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, obcaecati! Sapiente laudantium.
                </p>
              </div>
              <div class="col-2">
                <div class="section_menu__item__price text-center">
                  $15
                </div>
              </div>
            </div> <!-- / .row -->
          </div>
        </div>
        <div class="col-md-6 section_menu__grid__item lunch">
          <div class="section_menu__item">
            <div class="row">
              <div class="col-3 align-self-center">
                <div class="section_menu__item__img">
                  <img src="assets/img/31.jpg" alt="...">
                </div>
              </div>
              <div class="col-7">
                <h4>Fusce id ante ut arcu</h4>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, obcaecati! Sapiente laudantium.
                </p>
              </div>
              <div class="col-2">
                <div class="section_menu__item__price text-center">
                  $23
                </div>
              </div>
            </div> <!-- / .row -->
          </div>
        </div>
        <div class="col-md-6 section_menu__grid__item dinner">
          <div class="section_menu__item">
            <div class="row">
              <div class="col-3 align-self-center">
                <div class="section_menu__item__img">
                  <img src="assets/img/27.jpg" alt="...">
                </div>
              </div>
              <div class="col-7">
                <h4>Fusce sed dolor eget tortor</h4>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, obcaecati! Sapiente laudantium.
                </p>
              </div>
              <div class="col-2">
                <div class="section_menu__item__price text-center">
                  $16
                </div>
              </div>
            </div> <!-- / .row -->
          </div>
        </div>
        <div class="col-md-6 section_menu__grid__item drinks">
          <div class="section_menu__item">
            <div class="row">
              <div class="col-3 align-self-center">
                <div class="section_menu__item__img">
                  <img src="assets/img/28.jpg" alt="...">
                </div>
              </div>
              <div class="col-7">
                <h4>Phasellus non elit in dolor</h4>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, obcaecati! Sapiente laudantium.
                </p>
              </div>
              <div class="col-2">
                <div class="section_menu__item__price text-center">
                  $10
                </div>
              </div>
            </div> <!-- / .row -->
          </div>
        </div>
        <div class="col-md-6 section_menu__grid__item drinks">
          <div class="section_menu__item">
            <div class="row">
              <div class="col-3 align-self-center">
                <div class="section_menu__item__img">
                  <img src="assets/img/29.jpg" alt="...">
                </div>
              </div>
              <div class="col-7">
                <h4>In vel odio eu massa semper</h4>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, obcaecati! Sapiente laudantium.
                </p>
              </div>
              <div class="col-2">
                <div class="section_menu__item__price text-center">
                  $35
                </div>
              </div>
            </div> <!-- / .row -->
          </div>
        </div>
        <div class="col-md-6 section_menu__grid__item dinner">
          <div class="section_menu__item">
            <div class="row">
              <div class="col-3 align-self-center">
                <div class="section_menu__item__img">
                  <img src="assets/img/28.jpg" alt="...">
                </div>
              </div>
              <div class="col-7">
                <h4>Morbi ac est consectetur</h4>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, obcaecati! Sapiente laudantium.
                </p>
              </div>
              <div class="col-2">
                <div class="section_menu__item__price text-center">
                  $18
                </div>
              </div>
            </div> <!-- / .row -->
          </div>
        </div>
        <div class="col-md-6 section_menu__grid__item lunch">
          <div class="section_menu__item">
            <div class="row">
              <div class="col-3 align-self-center">
                <div class="section_menu__item__img">
                  <img src="assets/img/30.jpg" alt="...">
                </div>
              </div>
              <div class="col-7">
                <h4>Lorem ipsum dolor sit amet</h4>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, obcaecati! Sapiente laudantium.
                </p>
              </div>
              <div class="col-2">
                <div class="section_menu__item__price text-center">
                  $15
                </div>
              </div>
            </div> <!-- / .row -->
          </div>
        </div>
        <div class="col-md-6 section_menu__grid__item mains">
          <div class="section_menu__item">
            <div class="row">
              <div class="col-3 align-self-center">
                <div class="section_menu__item__img">
                  <img src="assets/img/27.jpg" alt="...">
                </div>
              </div>
              <div class="col-7">
                <h4>Fusce id ante ut arcu</h4>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, obcaecati! Sapiente laudantium.
                </p>
              </div>
              <div class="col-2">
                <div class="section_menu__item__price text-center">
                  $23
                </div>
              </div>
            </div> <!-- / .row -->
          </div>
        </div>
        <div class="col-md-6 section_menu__grid__item mains">
          <div class="section_menu__item">
            <div class="row">
              <div class="col-3 align-self-center">
                <div class="section_menu__item__img">
                  <img src="assets/img/28.jpg" alt="...">
                </div>
              </div>
              <div class="col-7">
                <h4>Fusce sed dolor eget tortor</h4>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, obcaecati! Sapiente laudantium.
                </p>
              </div>
              <div class="col-2">
                <div class="section_menu__item__price text-center">
                  $16
                </div>
              </div>
            </div> <!-- / .row -->
          </div>
        </div>
        <div class="col-md-6 section_menu__grid__item lunch">
          <div class="section_menu__item">
            <div class="row">
              <div class="col-3 align-self-center">
                <div class="section_menu__item__img">
                  <img src="assets/img/29.jpg" alt="...">
                </div>
              </div>
              <div class="col-7">
                <h4>Phasellus non elit in dolor</h4>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, obcaecati! Sapiente laudantium.
                </p>
              </div>
              <div class="col-2">
                <div class="section_menu__item__price text-center">
                  $10
                </div>
              </div>
            </div> <!-- / .row -->
          </div>
        </div>
        <div class="col-md-6 section_menu__grid__item dinner">
          <div class="section_menu__item">
            <div class="row">
              <div class="col-3 align-self-center">
                <div class="section_menu__item__img">
                  <img src="assets/img/29.jpg" alt="...">
                </div>
              </div>
              <div class="col-7">
                <h4>In vel odio eu massa semper</h4>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, obcaecati! Sapiente laudantium.
                </p>
              </div>
              <div class="col-2">
                <div class="section_menu__item__price text-center">
                  $35
                </div>
              </div>
            </div> <!-- / .row -->
          </div>
        </div>
        <div class="col-md-6 section_menu__grid__item drinks">
          <div class="section_menu__item">
            <div class="row">
              <div class="col-3 align-self-center">
                <div class="section_menu__item__img">
                  <img src="assets/img/30.jpg" alt="...">
                </div>
              </div>
              <div class="col-7">
                <h4>Morbi ac est consectetur</h4>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, obcaecati! Sapiente laudantium.
                </p>
              </div>
              <div class="col-2">
                <div class="section_menu__item__price text-center">
                  $18
                </div>
              </div>
            </div> <!-- / .row -->
          </div>
        </div>
        <div class="col-md-6 section_menu__grid__item mains">
          <div class="section_menu__item">
            <div class="row">
              <div class="col-3 align-self-center">
                <div class="section_menu__item__img">
                  <img src="assets/img/29.jpg" alt="...">
                </div>
              </div>
              <div class="col-7">
                <h4>Lorem ipsum dolor sit amet</h4>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, obcaecati! Sapiente laudantium.
                </p>
              </div>
              <div class="col-2">
                <div class="section_menu__item__price text-center">
                  $15
                </div>
              </div>
            </div> <!-- / .row -->
          </div>
        </div>
        <div class="col-md-6 section_menu__grid__item lunch">
          <div class="section_menu__item">
            <div class="row">
              <div class="col-3 align-self-center">
                <div class="section_menu__item__img">
                  <img src="assets/img/28.jpg" alt="...">
                </div>
              </div>
              <div class="col-7">
                <h4>Fusce id ante ut arcu</h4>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, obcaecati! Sapiente laudantium.
                </p>
              </div>
              <div class="col-2">
                <div class="section_menu__item__price text-center">
                  $23
                </div>
              </div>
            </div> <!-- / .row -->
          </div>
        </div>
        <div class="col-md-6 section_menu__grid__item dinner">
          <div class="section_menu__item">
            <div class="row">
              <div class="col-3 align-self-center">
                <div class="section_menu__item__img">
                  <img src="assets/img/30.jpg" alt="...">
                </div>
              </div>
              <div class="col-7">
                <h4>Fusce sed dolor eget tortor</h4>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, obcaecati! Sapiente laudantium.
                </p>
              </div>
              <div class="col-2">
                <div class="section_menu__item__price text-center">
                  $16
                </div>
              </div>
            </div> <!-- / .row -->
          </div>
        </div>
        <div class="col-md-6 section_menu__grid__item drinks">
          <div class="section_menu__item">
            <div class="row">
              <div class="col-3 align-self-center">
                <div class="section_menu__item__img">
                  <img src="assets/img/31.jpg" alt="...">
                </div>
              </div>
              <div class="col-7">
                <h4>Phasellus non elit in dolor</h4>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, obcaecati! Sapiente laudantium.
                </p>
              </div>
              <div class="col-2">
                <div class="section_menu__item__price text-center">
                  $10
                </div>
              </div>
            </div> <!-- / .row -->
          </div>
        </div>
        <div class="col-md-6 section_menu__grid__item drinks">
          <div class="section_menu__item">
            <div class="row">
              <div class="col-3 align-self-center">
                <div class="section_menu__item__img">
                  <img src="assets/img/26.jpg" alt="...">
                </div>
              </div>
              <div class="col-7">
                <h4>In vel odio eu massa semper</h4>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, obcaecati! Sapiente laudantium.
                </p>
              </div>
              <div class="col-2">
                <div class="section_menu__item__price text-center">
                  $35
                </div>
              </div>
            </div> <!-- / .row -->
          </div>
        </div>
        <div class="col-md-6 section_menu__grid__item dinner">
          <div class="section_menu__item">
            <div class="row">
              <div class="col-3 align-self-center">
                <div class="section_menu__item__img">
                  <img src="assets/img/31.jpg" alt="...">
                </div>
              </div>
              <div class="col-7">
                <h4>Morbi ac est consectetur</h4>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, obcaecati! Sapiente laudantium.
                </p>
              </div>
              <div class="col-2">
                <div class="section_menu__item__price text-center">
                  $18
                </div>
              </div>
            </div> <!-- / .row -->
          </div>
        </div>
        <div class="col-md-6 section_menu__grid__item lunch">
          <div class="section_menu__item">
            <div class="row">
              <div class="col-3 align-self-center">
                <div class="section_menu__item__img">
                  <img src="assets/img/27.jpg" alt="...">
                </div>
              </div>
              <div class="col-7">
                <h4>Lorem ipsum dolor sit amet</h4>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, obcaecati! Sapiente laudantium.
                </p>
              </div>
              <div class="col-2">
                <div class="section_menu__item__price text-center">
                  $15
                </div>
              </div>
            </div> <!-- / .row -->
          </div>
        </div>
        <div class="col-md-6 section_menu__grid__item mains">
          <div class="section_menu__item">
            <div class="row">
              <div class="col-3 align-self-center">
                <div class="section_menu__item__img">
                  <img src="assets/img/30.jpg" alt="...">
                </div>
              </div>
              <div class="col-7">
                <h4>Fusce id ante ut arcu</h4>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, obcaecati! Sapiente laudantium.
                </p>
              </div>
              <div class="col-2">
                <div class="section_menu__item__price text-center">
                  $23
                </div>
              </div>
            </div> <!-- / .row -->
          </div>
        </div>
        <div class="col-md-6 section_menu__grid__item mains">
          <div class="section_menu__item">
            <div class="row">
              <div class="col-3 align-self-center">
                <div class="section_menu__item__img">
                  <img src="assets/img/31.jpg" alt="...">
                </div>
              </div>
              <div class="col-7">
                <h4>Fusce sed dolor eget tortor</h4>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, obcaecati! Sapiente laudantium.
                </p>
              </div>
              <div class="col-2">
                <div class="section_menu__item__price text-center">
                  $16
                </div>
              </div>
            </div> <!-- / .row -->
          </div>
        </div>
        <div class="col-md-6 section_menu__grid__item lunch">
          <div class="section_menu__item">
            <div class="row">
              <div class="col-3 align-self-center">
                <div class="section_menu__item__img">
                  <img src="assets/img/26.jpg" alt="...">
                </div>
              </div>
              <div class="col-7">
                <h4>Phasellus non elit in dolor</h4>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, obcaecati! Sapiente laudantium.
                </p>
              </div>
              <div class="col-2">
                <div class="section_menu__item__price text-center">
                  $10
                </div>
              </div>
            </div> <!-- / .row -->
          </div>
        </div>
        <div class="col-md-6 section_menu__grid__item dinner">
          <div class="section_menu__item">
            <div class="row">
              <div class="col-3 align-self-center">
                <div class="section_menu__item__img">
                  <img src="assets/img/26.jpg" alt="...">
                </div>
              </div>
              <div class="col-7">
                <h4>In vel odio eu massa semper</h4>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, obcaecati! Sapiente laudantium.
                </p>
              </div>
              <div class="col-2">
                <div class="section_menu__item__price text-center">
                  $35
                </div>
              </div>
            </div> <!-- / .row -->
          </div>
        </div>
        <div class="col-md-6 section_menu__grid__item drinks">
          <div class="section_menu__item">
            <div class="row">
              <div class="col-3 align-self-center">
                <div class="section_menu__item__img">
                  <img src="assets/img/27.jpg" alt="...">
                </div>
              </div>
              <div class="col-7">
                <h4>Morbi ac est consectetur</h4>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, obcaecati! Sapiente laudantium.
                </p>
              </div>
              <div class="col-2">
                <div class="section_menu__item__price text-center">
                  $18
                </div>
              </div>
            </div> <!-- / .row -->
          </div>
        </div>

      </div> <!-- / .row -->
    </div> <!-- / .container -->
  </section>
{% endblock %}

{% block dishes %}
  <!-- DISHES
================================================== -->
  <section class="section section_dishes">

    <!-- Header -->
    <div class="container">
      <div class="row">
        <div class="col">

          <!-- Heading -->
          <h2 class="section__heading text-center">
            Featured dishes
          </h2>

          <!-- Subheading -->
          <p class="section__subheading text-center">
            Quibusdam in labore tempore quidem voluptatum ullam soluta! Maiores!
          </p>

        </div>
      </div>
    </div>

    <!-- Carousel -->
    <div class="section_dishes__carousel dots-disabled">
      <div class="section_dishes__carousel__item">

        <!-- Image -->
        <img src="assets/img/26.jpg" alt="..." class="section_dishes__carousel__item__img">

        <!-- Body -->
        <div class="section_dishes__carousel__item__body">
          <h5 class="section_dishes__carousel__item__body__heading mb-0">
            Lorem ipsum dolor sit amet <span>$25</span>
          </h5>
        </div>

      </div>
      <div class="section_dishes__carousel__item">

        <!-- Image -->
        <img src="assets/img/27.jpg" alt="..." class="section_dishes__carousel__item__img">

        <!-- Body -->
        <div class="section_dishes__carousel__item__body">
          <h5 class="section_dishes__carousel__item__body__heading mb-0">
            Lorem ipsum dolor sit amet <span>$35</span>
          </h5>
        </div>

      </div>
      <div class="section_dishes__carousel__item">

        <!-- Image -->
        <img src="assets/img/28.jpg" alt="..." class="section_dishes__carousel__item__img">

        <!-- Body -->
        <div class="section_dishes__carousel__item__body">
          <h5 class="section_dishes__carousel__item__body__heading mb-0">
            Lorem ipsum dolor sit amet <span>$18</span>
          </h5>
        </div>

      </div>
      <div class="section_dishes__carousel__item">

        <!-- Image -->
        <img src="assets/img/29.jpg" alt="..." class="section_dishes__carousel__item__img">

        <!-- Body -->
        <div class="section_dishes__carousel__item__body">
          <h5 class="section_dishes__carousel__item__body__heading mb-0">
            Lorem ipsum dolor sit amet <span>$32</span>
          </h5>
        </div>

      </div>
      <div class="section_dishes__carousel__item">

        <!-- Image -->
        <img src="assets/img/30.jpg" alt="..." class="section_dishes__carousel__item__img">

        <!-- Body -->
        <div class="section_dishes__carousel__item__body">
          <h5 class="section_dishes__carousel__item__body__heading mb-0">
            Lorem ipsum dolor sit amet <span>$40</span>
          </h5>
        </div>

      </div>
      <div class="section_dishes__carousel__item">

        <!-- Image -->
        <img src="assets/img/31.jpg" alt="..." class="section_dishes__carousel__item__img">

        <!-- Body -->
        <div class="section_dishes__carousel__item__body">
          <h5 class="section_dishes__carousel__item__body__heading mb-0">
            Lorem ipsum dolor sit amet <span>$27</span>
          </h5>
        </div>

      </div>
    </div> <!-- / .section_dishes__carousel -->

  </section>
{% endblock %}

{% block reservation %}
  <!-- RESERVATION
================================================== -->
  <section class="section section_reservation section_gray" id="section_reservation">
    <div class="container">
      <div class="row">
        <div class="col">

          <!-- Heading -->
          <h2 class="section__heading text-center">
            Make online reservation
          </h2>

          <!-- Subheading -->
          <p class="section__subheading text-center">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam illo praesentium sequi in cum, beatae maiores quae qui.
          </p>

        </div>
      </div> <!-- / .row -->
      <div class="row justify-content-lg-center  section_reservation__row">
        <div class="col-lg-8">

          <!-- Form -->
          <form class="section_reservation__form" id="reservation__form">
            <div class="row">
              <div class="col-md-6">

                <div class="form-group">
                  <label class="sr-only" for="reservation__form__name">Full name</label>
                  <input type="text" class="form-control" id="reservation__form__name" name="reservation__form__name" placeholder="Full name">
                  <div class="invalid-feedback"></div>
                </div>
                <div class="form-group">
                  <label class="sr-only" for="reservation__form__phone">Phone number</label>
                  <input type="tel" class="form-control" id="reservation__form__phone" name="reservation__form__phone" placeholder="Phone number">
                  <div class="invalid-feedback"></div>
                </div>
                <div class="form-group">
                  <label class="sr-only" for="reservation__form__email">E-mail address</label>
                  <input type="email" class="form-control" id="reservation__form__email" name="reservation__form__email" placeholder="E-mail address">
                  <div class="invalid-feedback"></div>
                </div>

              </div>
              <div class="col-md-6">

                <div class="form-group">
                  <label class="sr-only" for="reservation__form__people">People</label>
                  <select class="form-control" id="reservation__form__people" name="reservation__form__people">
                    <option value="1">1 person</option>
                    <option value="2" selected="">2 persons</option>
                    <option value="3">3 persons</option>
                    <option value="4">4 persons</option>
                    <option value="5">5 persons</option>
                  </select>
                  <div class="invalid-feedback"></div>
                </div>
                <div class="form-group">
                  <label class="sr-only" for="reservation__form__date">Date</label>
                  <input type="date" class="form-control" id="reservation__form__date" name="reservation__form__date" value="2016-12-31">
                  <div class="invalid-feedback"></div>
                </div>
                <div class="form-group">
                  <label class="sr-only" for="reservation__form__time">Time</label>
                  <input type="time" class="form-control" id="reservation__form__time" name="reservation__form__time" value="18:00">
                  <div class="invalid-feedback"></div>
                </div>

              </div>
              <div class="col">

                <div class="text-center">
                  <button type="submit" class="btn btn-primary">
                    Reserve a table
                  </button>
                </div>

              </div>
            </div> <!-- / .row -->
          </form>

        </div>
      </div> <!-- / .row -->
    </div> <!-- / .container -->
  </section>

{% endblock %}

{% block testimonials %}
  <!-- TESTIMONIALS
================================================== -->
  <section class="section section_testimonials section_border_bottom">
    <div class="container">
      <div class="row">
        <div class="col">

          <!-- Heading -->
          <h2 class="section__heading text-center">
            What clients say about us
          </h2>

          <!-- Subheading -->
          <p class="section__subheading text-center">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </p>

        </div>
      </div> <!-- / .row -->
      <div class="row">
        <div class="col">
          <div class="section_testimonials__carousel">
            <div class="section_testimonials__carousel__item text-center text-md-left">
              <div class="row align-items-center">
                <div class="col-md-3 order-md-3">

                  <!-- Photo -->
                  <div class="section_testimonials__photo">
                    <img src="assets/img/20.jpg" class="img-fluid" alt="...">
                  </div>

                </div>
                <div class="col-md-7 order-md-2">

                  <!-- Blockquote -->
                  <blockquote class="section_testimonials__blockquote mx-auto">
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos at veritatis vitae modi ex quis quibusdam error repudiandae adipisci dolore perspiciatis iste, vel fuga a, libero architecto ratione deleniti sequi.
                    </p>
                    <footer class="text-muted">
                      Richard Roe
                    </footer>
                  </blockquote>

                </div>
                <div class="col-md-1 order-md-1"></div>
              </div> <!-- / .row -->
            </div>
            <div class="section_testimonials__carousel__item text-center text-md-left">
              <div class="row align-items-center">
                <div class="col-md-3 order-md-3">

                  <!-- Photo -->
                  <div class="section_testimonials__photo">
                    <img src="assets/img/21.jpg" class="img-fluid" alt="...">
                  </div>

                </div>
                <div class="col-md-7 order-md-2">

                  <!-- Blockquote -->
                  <blockquote class="section_testimonials__blockquote mx-auto">
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos at veritatis vitae modi ex quis quibusdam error repudiandae adipisci dolore perspiciatis iste, vel fuga a, libero architecto ratione deleniti sequi.
                    </p>
                    <footer class="text-muted">
                      Elisabeth Doe
                    </footer>
                  </blockquote>

                </div>
                <div class="col-md-1 order-md-1"></div>
              </div> <!-- / .row -->
            </div>
            <div class="section_testimonials__carousel__item text-center text-md-left">
              <div class="row align-items-center">
                <div class="col-md-3 order-md-3">

                  <!-- Photo -->
                  <div class="section_testimonials__photo">
                    <img src="assets/img/22.jpg" class="img-fluid" alt="...">
                  </div>

                </div>
                <div class="col-md-7 order-md-2">

                  <!-- Blockquote -->
                  <blockquote class="section_testimonials__blockquote mx-auto">
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos at veritatis vitae modi ex quis quibusdam error repudiandae adipisci dolore perspiciatis iste, vel fuga a, libero architecto ratione deleniti sequi.
                    </p>
                    <footer class="text-muted">
                      Monica Roe
                    </footer>
                  </blockquote>

                </div>
                <div class="col-md-1 order-md-1"></div>
              </div> <!-- / .row -->
            </div>
          </div> <!-- / .carousel -->
        </div>
      </div> <!-- / .row -->
    </div> <!-- / .container -->
  </section>

{% endblock %}

{% block events %}
  <!-- EVENTS
================================================== -->
  <section class="section section_events section_no-padding_bottom">

    <!-- Intro -->
    <div class="container">
      <div class="row">
        <div class="col">

          <!-- Heading -->
          <h2 class="section__heading text-center">
            Upcoming events
          </h2>

          <!-- Subheading -->
          <p class="section__subheading text-center">
            Commodi rem veritatis quis eaque mollitia.
          </p>

        </div>
      </div> <!-- / .row -->
    </div> <!-- / .container -->

    <!-- Events -->
    <div class="section_events__items">

      <!-- Event #1 -->
      <div class="section_events__item active">

        <!-- Bg image -->
        <div class="section_events__item__bg" style="background-image: url(assets/img/8.jpg)"></div>

        <!-- Content -->
        <div class="container">

          <!-- Content: Large -->
          <div class="section_events__item__content_lg">
            <div class="row">
              <div class="col-md-8 col-lg-5">

                <!-- Date -->
                <h3 class="section__preheading text-primary">
                  <time datetime="2017-09-30">September 30, 2017</time>
                </h3>

                <!-- Heading -->
                <h2 class="section__heading text-white">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum voluptas, aut ea quae!
                </h2>

                <!-- Description -->
                <p class="section__subheading">
                  Alias earum, labore doloremque iusto a modi et, dolorem veritatis iste quis ab. Facere est optio, voluptate molestias aspernatur impedit perferendis odit?
                </p>

                <!-- Button -->
                <a href="#section_reservation" class="btn btn-primary text-white">
                  Reserve a table
                </a>

              </div>
            </div> <!-- / .row -->
          </div> <!-- / .section_events__item__content_lg -->

          <!-- Content: Small -->
          <div class="section_events__item__content_sm">
            <div class="row">
              <div class="col-3 col-md-2 col-lg-1">

                <!-- Date -->
                <time datetime="2017-09-30">
                  30 <small>Sep</small>
                </time>

              </div>
              <div class="col-9 col-md-7 col-lg-8">

                <!-- Heading -->
                <h4>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum voluptas, aut ea quae!
                </h4>

              </div>
              <div class="col-9 ml-auto col-md-3 text-md-right">

                <!-- Button -->
                <a href="#section_reservation" class="btn btn-primary">
                  Reserve a table
                </a>

              </div>
            </div> <!-- / .row -->
          </div> <!-- / .section_events__item__content_sm -->

        </div> <!-- / .container -->

      </div> <!-- / .section_events__item -->

      <!-- Event #2 -->
      <div class="section_events__item">

        <!-- Bg image -->
        <div class="section_events__item__bg" style="background-image: url(assets/img/9.jpg)"></div>

        <!-- Content -->
        <div class="container">

          <!-- Content: Large -->
          <div class="section_events__item__content_lg">
            <div class="row">
              <div class="col-md-8 col-lg-5">

                <!-- Date -->
                <h3 class="section__preheading text-primary">
                  <time datetime="2017-09-29">September 29, 2017</time>
                </h3>

                <!-- Heading -->
                <h2 class="section__heading text-white">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum voluptas, aut ea quae!
                </h2>

                <!-- Description -->
                <p class="section__subheading">
                  Alias earum, labore doloremque iusto a modi et, dolorem veritatis iste quis ab. Facere est optio, voluptate molestias aspernatur impedit perferendis odit?
                </p>

                <!-- Button -->
                <a href="#section_reservation" class="btn btn-primary text-white">
                  Reserve a table
                </a>

              </div>
            </div> <!-- / .row -->
          </div> <!-- / .section_events__item__content_lg -->

          <!-- Content: Small -->
          <div class="section_events__item__content_sm">
            <div class="row">
              <div class="col-3 col-md-2 col-lg-1">

                <!-- Date -->
                <time datetime="2017-09-29">
                  29 <small>Sep</small>
                </time>

              </div>
              <div class="col-9 col-md-7 col-lg-8">

                <!-- Heading -->
                <h4>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum voluptas, aut ea quae!
                </h4>

              </div>
              <div class="col-9 ml-auto col-md-3 text-md-right">

                <!-- Button -->
                <a href="#section_reservation" class="btn btn-primary">
                  Reserve a table
                </a>

              </div>
            </div> <!-- / .row -->
          </div> <!-- / .section_events__item__content_sm -->

        </div> <!-- / .container -->

      </div> <!-- / .section_events__item -->

      <!-- Event #3 -->
      <div class="section_events__item">

        <!-- Bg image -->
        <div class="section_events__item__bg" style="background-image: url(assets/img/10.jpg)"></div>

        <!-- Content -->
        <div class="container">

          <!-- Content: Large -->
          <div class="section_events__item__content_lg">
            <div class="row">
              <div class="col-md-8 col-lg-5">

                <!-- Date -->
                <h3 class="section__preheading text-primary">
                  <time datetime="2017-09-28">September 28, 2017</time>
                </h3>

                <!-- Heading -->
                <h2 class="section__heading text-white">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum voluptas, aut ea quae!
                </h2>

                <!-- Description -->
                <p class="section__subheading">
                  Alias earum, labore doloremque iusto a modi et, dolorem veritatis iste quis ab. Facere est optio, voluptate molestias aspernatur impedit perferendis odit?
                </p>

                <!-- Button -->
                <a href="#section_reservation" class="btn btn-primary text-white">
                  Reserve a table
                </a>

              </div>
            </div> <!-- / .row -->
          </div> <!-- / .section_events__item__content_lg -->

          <!-- Content: Small -->
          <div class="section_events__item__content_sm">
            <div class="row">
              <div class="col-3 col-md-2 col-lg-1">

                <!-- Date -->
                <time datetime="2017-09-28">
                  28 <small>Sep</small>
                </time>

              </div>
              <div class="col-9 col-md-7 col-lg-8">

                <!-- Heading -->
                <h4>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum voluptas, aut ea quae!
                </h4>

              </div>
              <div class="col-9 ml-auto col-md-3 text-md-right">

                <!-- Button -->
                <a href="#section_reservation" class="btn btn-primary">
                  Reserve a table
                </a>

              </div>
            </div> <!-- / .row -->
          </div> <!-- / .section_events__item__content_sm -->

        </div> <!-- / .container -->

      </div> <!-- / .section_events__item -->

    </div> <!-- / .section_events_items -->

  </section>

{% endblock %}

{% block newsletter %}
  <!-- NEWSLETTER
================================================== -->
  <section class="section section_gray section_newsletter">
    <div class="container">
      <div class="row">
        <div class="col">

          <!-- Heading -->
          <h2 class="section__heading section_newsletter__heading text-center">
            Newsletter
          </h2>
          <p class="section__subheading text-center">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam illo praesentium sequi in cum, beatae maiores quae qui.
          </p>

        </div>
      </div> <!-- / .row -->
      <div class="row justify-content-center">
        <div class="col-lg-6">

          <!-- Form -->
          <div id="mc_embed_signup">
            <form class="section_newsletter__form validate" action="//simpleqode.us15.list-manage.com/subscribe/post-json?u=507744bbfd1cc2879036c7780&id=4523d25e1b&c=?" method="get" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate="">
              <div id="mc_embed_signup_scroll" class="row">
                <div class="mc-field-group form-group col-md-9">
                  <label for="mce-EMAIL" class="sr-only">E-mail address</label>
                  <input type="email" value="" name="EMAIL" class="required email form-control" id="mce-EMAIL" placeholder="Email address">
                </div>
                <div id="mce-responses" class="clear">
                  <div class="response"></div>
                  <div class="response" id="mce-success-response"></div>
                </div>
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div aria-hidden="true" id="mce-hidden-input">
                  <input type="text" name="b_507744bbfd1cc2879036c7780_4523d25e1b" tabindex="-1" value="">
                </div>
                <div class="clear col-md-3 text-center">
                  <button type="submit" class="btn btn-primary" id="mc-embedded-subscribe">
                    Subscribe
                  </button>
                </div>
              </div>
            </form>
          </div> <!-- #mc_embed_signup -->

        </div>
      </div> <!-- / .row -->
    </div> <!-- / .container -->
  </section>

  <!-- NEWSLETTER CLONE
  ================================================== -->
  <!--
    MailChimp newsletters generally cannot be used more than
    once on a page, because this will cause HTML IDs conflict.
    This section solves this problem by calling the
    original sign-up form and imitating its behaviour. Please
    don't use it without the original sign-up form. Remove
    d-none to make it visible.
  -->
  <section class="section section_gray section_newsletter d-none">
    <div class="container">
      <div class="row">
        <div class="col">

          <!-- Heading -->
          <h2 class="section__heading section_newsletter__heading text-center">
            Newsletter
          </h2>
          <p class="section__subheading text-center">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam illo praesentium sequi in cum, beatae maiores quae qui.
          </p>

        </div>
      </div> <!-- / .row -->
      <div class="row justify-content-center">
        <div class="col-lg-6">

          <!-- Form -->
          <form class="section_newsletter__form section_newsletter__form_clone">
            <div class="row">
              <div class="form-group col-md-9">
                <label class="sr-only">E-mail address</label>
                <input type="email" class="form-control" placeholder="Email address">
              </div>
              <div class="col-md-3 text-center">
                <button type="submit" class="btn btn-primary">
                  Subscribe
                </button>
              </div>
            </div>
          </form>

        </div>
      </div> <!-- / .row -->
    </div> <!-- / .container -->
  </section>

{% endblock %}

{% block gallery %}
  <!-- GALLERY
================================================== -->
  <section class="section section_gallery">
    <div class="container">
      <div class="row">
        <div class="col">

          <!-- Heading -->
          <h2 class="section__heading text-center">
            Our gallery
          </h2>

          <!-- Subheading -->
          <p class="section__subheading text-center">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </p>

        </div>
      </div> <!-- / .row -->
      <div class="row section_gallery__grid">
        <div class="col-6 col-sm-6 col-md-4 section_gallery__grid__item">

          <a href="assets/img/11.jpg" data-lightbox="gallery">
            <img src="assets/img/11.jpg" class="img-fluid" alt="...">
          </a>

        </div>
        <div class="col-6 col-sm-6 col-md-4 section_gallery__grid__item">

          <a href="assets/img/16.jpg" data-lightbox="gallery">
            <img src="assets/img/16.jpg" class="img-fluid" alt="...">
          </a>

        </div>
        <div class="col-6 col-sm-6 col-md-4 section_gallery__grid__item">

          <a href="assets/img/13.jpg" data-lightbox="gallery">
            <img src="assets/img/13.jpg" class="img-fluid" alt="...">
          </a>

        </div>
        <div class="col-6 col-sm-6 col-md-4 section_gallery__grid__item">

          <a href="assets/img/15.jpg" data-lightbox="gallery">
            <img src="assets/img/15.jpg" class="img-fluid" alt="...">
          </a>

        </div>
        <div class="col-6 col-sm-6 col-md-4 section_gallery__grid__item">

          <a href="assets/img/14.jpg" data-lightbox="gallery">
            <img src="assets/img/14.jpg" class="img-fluid" alt="...">
          </a>

        </div>
        <div class="col-6 col-sm-6 col-md-4 section_gallery__grid__item">

          <a href="assets/img/18.jpg" data-lightbox="gallery">
            <img src="assets/img/18.jpg" class="img-fluid" alt="...">
          </a>

        </div>
        <div class="col-6 col-sm-6 col-md-4 section_gallery__grid__item">

          <a href="assets/img/17.jpg" data-lightbox="gallery">
            <img src="assets/img/17.jpg" class="img-fluid" alt="...">
          </a>

        </div>
        <div class="col-6 col-sm-6 col-md-4 section_gallery__grid__item">

          <a href="assets/img/12.jpg" data-lightbox="gallery">
            <img src="assets/img/12.jpg" class="img-fluid" alt="...">
          </a>

        </div>
      </div> <!-- / .row -->
    </div> <!-- / .container -->
  </section>

{% endblock %}

{% block map %}
  <!-- MAP
  ================================================== -->
  <section class="section section_map">
    <div class="section_map__map" data-lat="40.7590403" data-lng="-74.0392713" data-zoom="12" data-info="<h4 class='section_map__map__heading text-center'>Touche restaurant</h4><p class='section_map__map__content text-center text-muted'>1234 Altschul, New York, NY 10027-0000<br>+1 987 654 3210</p>"></div>
  </section>
{% endblock %}

{% block footer %}
  <div class="{{ container }}">
    {% if page.footer_first or page.footer_second or page.footer_third or page.footer_fourth %}
      <div class="site-footer__top clearfix">
        {{ page.footer_first }}
        {{ page.footer_second }}
        {{ page.footer_third }}
        {{ page.footer_fourth }}
      </div>
    {% endif %}
    {% if page.footer_fifth %}
      <div class="site-footer__bottom">
        {{ page.footer_fifth }}
      </div>
    {% endif %}
  </div>
  <!-- FOOTER
  ================================================== -->
  <footer class="section section_footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">

          <!-- About Us -->
          <h5 class="section_footer__heading">
            About Us
          </h5>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti dolorum, sint corporis nostrum, possimus unde eos vitae eius quasi saepe.
          </p>

        </div>
        <div class="col-sm-4">

          <!-- Contact info -->
          <h5 class="section_footer__heading">
            Contact info
          </h5>
          <ul class="section_footer__info">
            <li>
              <i class="fa fa-map-marker"></i> 1234 Altschul, New York, NY 10027-0000
            </li>
            <li>
              <i class="fa fa-phone"></i> +1 987 654 3210
            </li>
            <li>
              <i class="fa fa-envelope-o"></i> <a href="mailto:admin@domain.com">admin@domain.com</a>
            </li>
          </ul>

        </div>
        <div class="col-sm-4">

          <!-- Opening hours -->
          <h5 class="section_footer__heading">
            Opening hours
          </h5>
          <div class="section_footer__open">
            <div class="section_footer__open__days">Monday - Thursday</div>
            <div class="section_footer__open__time">10:00 AM - 11:00 PM</div>
          </div>
          <div class="section_footer__open">
            <div class="section_footer__open__days">Friday - Sunday</div>
            <div class="section_footer__open__time">12:00 AM - 03:00 AM</div>
          </div>

        </div>
      </div> <!-- / .row -->
      <div class="row">
        <div class="col-12">

          <!-- Copyright -->
          <div class="section_footer__copyright">
            <i class="fa fa-copyright"></i> <span id="js-current-year"></span> Touché. All rights reserved.
          </div>

        </div>
      </div> <!-- / .row -->
    </div> <!-- / .container -->
  </footer>


{% endblock %}
